---
layout: default
group: publications
---

<div class="theses">

<h1 class="publications">Publications</h1>
<br>
<h4> You can find a full publication list at <a href=https://scholar.google.co.kr/citations?hl=ko&pli=1&user=lhwBAKUAAAAJ>Google Scholar.</a></h4>
<h4> BRIC list at <a href=https://www.ibric.org/hanbitsa/treatise_index_for_author.php?idauthorid=7666>BRIC.</a></h4>
<br>

<div class="col-md-12">
	
{% for publication in site.data.publications %}
<hr>
<div class="row" style="padding-top: 0px; margin-top: -10px;  margin-bottom: -10px" id="{{publication.pmid}}">
<div style="font-size: 108% !important;">{{ publication.citation | markdownify }}</div>
<div class="row" style="padding-top: - 5px; margin-top: -20px;">
			<strong> &emsp; &emsp; &emsp;Access the paper: &emsp; </strong>
			<!--PMID-->
			{% if publication.pmid %}
			<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt = "pubmed link: {{publication.pmid}}"> {{publication.pmid}}</a> &emsp; </li>
			{% endif %}

			<!--Biorxiv - optional -->
			{% if publication.biorxiv %}
			<li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" alt = "biorxiv preprint link: {{publication.biorxiv}}"> {{publication.biorxiv | split: "." | last }}</a> &emsp; </li>
			{% endif %}

			<!-- PDF -->
			<li><a href="{{publication.pdf}}" alt = "PDF"> Full Text</a> &emsp; </li>

			<!-- Datasets - optional -->
			{% if publication.data %}
			<li>Online Dataset{% if publication.data.size > 1 %}s{% endif %}:
				{% if publication.data.size > 1 %}
				<ul>
					{% for dataset in publication.data %}
					<li><a href="http://dx.doi.org/{{dataset}}" alt = "sbgrid data repository">doi:{{dataset}}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				<a href="http://dx.doi.org/{{publication.data}}" alt = "sbgrid data repository">doi:{{publication.data}}</a>
				{% endif %}
			</li>
			{% endif %}

			<!--PDBS - optional-->
			{% if publication.pdbs %}
			<li>Deposited Structure{% if publication.pdbs.size > 1 %}s{% endif %}:
				{% for code in publication.pdbs %}
				<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{code}}">{{code}}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</li>
			{% endif %}

			<!--EMBDS - optional-->
			{% if publication.emdbs %}
			<li>Deposited Map{% if publication.emdbs.size > 1 %}s{% endif %}:
				{% for code in publication.emdbs %}
				<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{code}}">{{code}}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</li>
			{% endif %}

			<!--pairs of maps and models - optional-->
			{% if publication.paired_maps_and_models %}
			<li>Deposited Structure{% if publication.paired_maps_and_models.size > 1 %}s{% endif %} and Map{% if publication.paired_maps_and_models.size > 1 %}s{% endif %}:
				{% for pair in publication.paired_maps_and_models %}
				<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}">{{pair.emdb}}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</li>
			{% endif %}

      </div>
  </div>	
</div>
{% endfor %}
</div>
