---
layout: page
---
<img class="img-responsive" src="../images/publication_background.jpg"/ Align="center">
<br>
<h1 class="Publications">Publications</h1>
<br>

    <h3> You can find a full publication list at <a href=https://scholar.google.co.kr/citations?hl=ko&pli=1&user=lhwBAKUAAAAJ>Google Scholar.</a></h3>
    <h3> 한빛사 논문 list at <a href=https://www.ibric.org/bric/hanbitsa/treatise.do?mode=author-treatise-list&srAuthorId=7666>BRIC.</a></h3>
    <br>
	
    <h4 class="Publications"><p style="color:blue;">대표 주저자 논문</p></h4>
    <div class="section row">
    <div class="col-md-8">
        <div class="content"><b>Constraints on the subsecond modulation of striatal dynamics by physiological dopamine signaling.</b></div>
    </div>
    <div class="image col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive" alt="Publications 3 illustration" src="../images/natureneuro.jpg"/ Align="right">
    </div>
   </div>

    <div class="section row">
    <div class="col-md-8">
	<div class="content"><a href="https://www.nature.com/articles/s41593-019-0567-0"><b>Temporally restricted dopaminergic control of reward-conditioned movements.</b></a></div>
    </div>
    <div class="image col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive" alt="Publications 3 illustration" src="../images/natureneuro.jpg"/ Align="right">
    </div>
   </div>

  <div class="section row">
    <div class="col-md-8">
	<div class="content"><a href="https://www.sciencedirect.com/science/article/pii/S0896627317301411?via%3Dihub"><b>Parvalbumin interneurons modulate striatal output and enhance performance during associative learning.</b></a></div>
    </div>
    <div class="image col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive" alt="Publications 3 illustration" src="../images/neuron.png"/ Align="right">
    </div>
   </div>
   <br>
	
    <h4 class="Publications"><p style="color:blue;">Full paper list</p></h4>
    {% for pub in site.data.publications %}

    <div class="pub row">
        <!--<div class="col-sm-2">
            {% if pub.image.url %}
            <a href="{{ pub.image.url }}">
                <img class="pub-image" src="{{ pub.image.src }}"
                     alt="illustration and link to full text" class="pub-image">
            </a>
            {% else %}
            <img class="pub-image" src="{{ pub.image }}"
                 alt="illustration" class="pub-image">
            {% endif %}
        </div>-->
        <div class="col-sm-8">
            <h3 class="pub-title">{{ pub.title }}</h3>
            <p class="pub-author">{{ pub.author }}</p>
            <p class="pub-where">{{ pub.where }}</p>
            {% if pub.abstract %}
            <p class="pub-abstract">{{ pub.abstract }}</p>
            {% endif %}
        </div>
        <div class="col-sm-2">
            <h3 class="pub-year">{{pub.year}}</h3>
        </div>
        <div class="col-sm-2">
            <a href="{{ pub.repo.url }}">{{ pub.repo.name }}</a>
        </div>
    </div>
	

    {% endfor %}

<!--
  <h1 class="theses">Student Theses</h1>
    <br>


    {% for pub in site.data.theses %}

    <div class="pub row">
        <div class="col-sm-2">
            {% if pub.image.url %}
            <a href="{{ pub.image.url }}">
                <img class="pub-image" src="{{ pub.image.src }}"
                     alt="illustration and link to full text" class="pub-image">
            </a>
            {% else %}
            <img class="pub-image" src="{{ pub.image }}"
                 alt="illustration" class="pub-image">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h4 class="pub-title">{{ pub.title }}</h4>
            <p class="pub-author">{{ pub.author }}</p>
            <p class="pub-where">{{ pub.where }}</p>
            {% if pub.abstract %}
            <p class="pub-abstract">{{ pub.abstract }}</p>
            {% endif %}
        </div>
        <div class="col-sm-1">
            <h8 class="pub-year">{{pub.year}}</h8>
        </div>
        <div class="col-sm-2">
            <a href="{{ pub.repo.url }}">{{ pub.repo.name }}</a>
        </div>
    </div>

    {% endfor %}

