<footer class="site-footer navbar navbar-default">

    <div class="container">

        <div class="address">
            <div class="row justify-content">
                <div class="col-md-6">
                    <address>
                        <strong>Neural Dynamics Laboratory</strong><br>
                        <strong>Department of Brain Sciences, DGIST</strong><br>
                    </address>
                 </col-md-6> 
                </div>
                <div class="col-md-4">
                        <abbr title="Phone">P:</abbr> +82(53)785-6170 <br>
                        <abbr title="Email">E:</abbr> <a href="mailto:klee@dgist.ac.kr">klee@dgist.ac.kr</a> <br>
                        <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->  
                </col-md-4>   
                </div> 
               <div class="image col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive" alt="Project 2 illustration" src="../images/DGISTUI.jpg"/ Align="right">
               </div>
                </div>      
           </div>
       </div>    
</footer>

<!--
     Bootstrap core JavaScript
     Placed at the end of the document so the pages load faster
   -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- CDN for latest core JavaScript (compiled and minified) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
